# SMART
#
# Templates definition
#

# Generic template for all SMART servers
define host{
        name                            smart-server
        use                             generic-host
        check_period                    24x7
        check_interval                  5
        retry_interval                  1
        max_check_attempts              10
        check_command                   check_http    ; Alive checking is done via HTTP (not ping)
        notification_period             workhours
        notification_interval           120
        notification_options            d,u,r
        contact_groups                  admins
        register                        0
        }

define host{
        name                            prisa-server
        use                             smart-server
        contact_groups                  admins, prisa-team
        register                        0
        }

define host{
        name                            glasgow-server
        use                             smart-server
        contact_groups                  admins, glasgow-team
        register                        0
        }

define host{
        name                            telesto-server
        use                             smart-server
        contact_groups                  admins
        register                        0
        }
